<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div class="page">
      {{ partial "header.html" . }}
      <main data-pagefind-body>
        {{- block "main" . -}}{{- end -}}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "search-modal.html" . }}
    {{- $citable_sections := slice "essays" "garden" "research" "works" -}}
    {{- if and (in $citable_sections .Section) (eq .Kind "page") -}}
      {{ partial "cite/modal.html" . }}
    {{- end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
